<!DOCTYPE html>
<html>

<head>
    <title>ArduPilot Manager</title>
    <link rel="stylesheet" href="static/css/metro-all.css" />
    <script src="static/js/vue.js"></script>
    <script src="static/js/axios.min.js"></script>
    <script src="static/js/metro.js"></script>
</head>

<body>
    <div id="app">
        <div class="container pt-4">
            <h1>ArduPilot Manager</h1>
            <h3>Endpoints:</h3>

            <div class="grid">
                <div class="row p-1 m-1 bg-gray">
                    <div class="cell-2">
                        <div>Name</div>
                    </div>
                    <div class="cell-1">
                        <div>Owner</div>
                    </div>
                    <div class="cell-2">
                        <div class="d-flex flex-justify-end">Type</div>
                    </div>
                    <div class="cell-2">
                        <div class="d-flex flex-justify-center">IP/Device</div>
                    </div>
                    <div class="cell-2">
                        <div class="d-flex flex-justify-start">Port/Baudrate</div>
                    </div>
                    <div class="cell-1" data-role="hint" data-cls-hint="bg-light drop-shadow" data-hint-text="Persistent">
                        <span class="mif-floppy-disk mif-lg d-flex flex-justify-center pr-2"></span>
                    </div>
                    <div class="cell-1" data-role="hint" data-cls-hint="bg-light drop-shadow" data-hint-text="Protected">
                        <span class="mif-lock mif-lg d-flex flex-justify-center pr-2"></span>
                    </div>
                    <div class="cell-1"></div>
                </div>

                <div class="row p-1 m-1 bg-gray">
                    <div class="cell-2">
                        <input type="text" data-role="input" data-clear-button="false" v-model="new_endpoint.name" />
                    </div>
                    <div class="cell-1">
                        <input type="text" data-role="input" data-clear-button="false" v-model="new_endpoint.owner" />
                    </div>
                    <div class="cell-2">
                        <select data-role="select" v-model="new_endpoint.connection_type" data-drop-full-size="true">
                          <option v-for="(value, key) in connection_type_options" :value="key" :key="key">
                            {{ value }}
                          </option>
                        </select>
                    </div>
                    <div class="cell-2">
                        <input type="text" data-role="input" data-clear-button="false" v-model="new_endpoint.place" />
                    </div>
                    <div class="cell-2">
                        <input type="text" data-role="input" data-clear-button="false" v-model="new_endpoint.argument" />
                    </div>
                    <div class="cell-1">
                        <input type="checkbox" data-role="checkbox" v-model="new_endpoint.persistent" class="d-flex flex-justify-center" />
                    </div>
                    <div class="cell-1">
                        <input type="checkbox" data-role="checkbox" v-model="new_endpoint.protected" class="d-flex flex-justify-center" disabled />
                    </div>
                    <div class="cell-1">
                        <button class="button primary success cycle" @click="createEndpoint()">
                          <span class="mif-plus"></span>
                        </button>
                    </div>
                </div>

                <div class="row p-1 m-1 bg-light flex-align-center" v-for="endpoint in registeredEndpoints" :key="endpoint.name">
                    <div class="cell-2">
                        <div>{{ endpoint.name }}</div>
                    </div>
                    <div class="cell-1">
                        <div>{{ endpoint.owner }}</div>
                    </div>
                    <div class="cell-2">
                        <div class="d-flex flex-justify-end">
                            {{ readableConnectionType(endpoint.connection_type) }}
                        </div>
                    </div>
                    <div class="cell-2">
                        <div class="d-flex flex-justify-center">{{ endpoint.place }}</div>
                    </div>
                    <div class="cell-2">
                        <div class="d-flex flex-justify-start">{{ endpoint.argument }}</div>
                    </div>
                    <div class="cell-1">
                        <input type="checkbox" data-role="checkbox" :checked="endpoint.persistent" class="d-flex flex-justify-center" disabled />
                    </div>
                    <div class="cell-1">
                        <input type="checkbox" data-role="checkbox" :checked="endpoint.protected" class="d-flex flex-justify-center" disabled />
                    </div>
                    <div class="cell-1">
                        <button class="button primary alert cycle" @click="deleteEndpoint(endpoint)">
                          <span class="mif-minus"></span>
                        </button>
                    </div>
                </div>
            </div>

            <div id="infobox" class="info-box" data-role="infobox">
                <span class="button square closer"></span>
                <div class="info-box-content">
                    <h3>{{ infoboxTitle }}</h3>
                    <ul>
                      <li v-for="message in infoboxMessages">{{ message }}</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</body>

<script>
    /* global Metro axios, Vue */

    new Vue({ // eslint-disable-line no-new
      el: '#app',
      data() {
        return {
          new_endpoint: {
            name: '',
            owner: '',
            connection_type: '',
            place: '',
            argument: null,
            persistent: false,
            protected: false,
          },
          registeredEndpoints: [],
          Metro: null,
          infoboxTitle: '',
          infoboxMessages: [''],
        }
      },
      computed: {
        readableConnectionType() {
          return (connection_type) => this.connection_type_options[connection_type]
        },
      },
      created() {
        this.API_URL = 'v1.0/endpoints'
        this.connection_type_options = {
          serial: 'Serial',
          udpin: 'UDP Server',
          udpout: 'UDP Client',
          tcpin: 'TCP Server',
          tcpout: 'TCP Client',
        }
      },
      mounted() {
        Metro.init()
        this.Metro = Metro
        this.fetchRegisteredEndpoints()
        setInterval(this.fetchRegisteredEndpoints, 5000)
      },
      methods: {
        fetchRegisteredEndpoints() {
          axios({
            method: 'get',
            url: this.API_URL,
            timeout: 500,
          })
            .then((response) => {
              this.registeredEndpoints = response.data
            })
            .catch(() => {
              this.infoboxTitle = 'Error'
              this.infoboxMessages = ['Cannot fetch points. Check you network connection.']
              Metro.infobox.open('#infobox')
            })
        },
        createEndpoint() {
          axios({
            method: 'post',
            url: this.API_URL,
            timeout: 500,
            data: [this.new_endpoint],
          })
            .then(() => {
              this.fetchRegisteredEndpoints()
            })
            .catch((error) => {
              this.infoboxTitle = 'Could not create new endpoint:'
              this.infoboxMessages = this.getValidationErrorMessages(error)
              Metro.infobox.open('#infobox')
            })
        },
        deleteEndpoint(endpoint) {
          axios({
            method: 'delete',
            url: this.API_URL,
            timeout: 500,
            data: [endpoint],
          })
            .then(() => {
              this.fetchRegisteredEndpoints()
            })
            .catch((error) => {
              this.infoboxTitle = 'Could not remove endpoint:'
              this.infoboxMessages = this.getValidationErrorMessages(error)
              Metro.infobox.open('#infobox')
            })
        },
        getValidationErrorMessages(error) {
          if ('message' in error.response.data) {
            return [error.response.data.message]
          }
          if ('detail' in error.response.data) {
            return error.response.data.detail.map((validation_obj) => {
              if (validation_obj.loc[2] === '__root__') {
                return `${validation_obj.msg}`
              }
              return `${validation_obj.loc[2]}: ${validation_obj.msg}`
            })
          }
          return 'No validation details available.'
        },
      },
    })
</script>
<style>
body {
  background-color: #ECF0F5;
}

.disabled {
  cursor: not-allowed;
}
</style>

</html>