.coverage
htmlcov/
build/
*.egg-info
dist/
node_modules

# Avoid local python development
*__pycache__
*.pytest_cache
*__mypycache__
env/
Pipfile
Pipfile.lock
poetry.lock
registry/

# Docker compose binds
core/compose/workspace/

