[submodule "core/frontend/src/ArduPilot-Parameter-Repository"]
	path = core/frontend/src/ArduPilot-Parameter-Repository
	url = https://github.com/ArduPilot/ParameterRepository
[submodule "core/frontend/src/libs/MAVLink2Rest/mavlink2rest-ts"]
	path = core/frontend/src/libs/MAVLink2Rest/mavlink2rest-ts
	url = https://github.com/patrickelectric/mavlink2rest-ts.git
[submodule "core/frontend/src/components/vue-tour"]
	path = core/frontend/src/components/vue-tour
	url = https://github.com/pulsardev/vue-tour
[submodule "core/frontend/src/PX4-parameters"]
	path = core/frontend/src/PX4-parameters
	url = git@github.com:patrickelectric/PX4-parameters.git
