[FORMAT]
max-line-length=120

[MESSAGES CONTROL]
enable=all

disable=attribute-defined-outside-init,
    bad-continuation, # Black takes care of that for us
    broad-except,
    duplicate-code,
    import-error,
    inconsistent-return-statements,
    invalid-name,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    no-member, # Some members are created in runtime, pylint fails to detect such cases
    no-name-in-module, # Names can be generated in runtime
    protected-access, # Necessary for internal tests
    too-many-public-methods, # Wrappers will have multiple public methods
    useless-super-delegation, # Fails to check it properly
    wildcard-import, # Necessary to locate installed plugins
