<!DOCTYPE html>
<html>


  <head>
    <title>Version Chooser</title>
    <link rel="stylesheet" href="static/css/metro-all.css">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="static/js/vue.js"></script>
    <script src="static/js/axios.min.js"></script>
    <script src="static/js/timeago.js"></script>
    <script src="static/js/jquery.js"></script>
    <script src="static/js/metro.js"></script>
  </head>

  <body>
    <div id="app">
      <div class="container pt-4">
        <h1>Version Chooser</h1>
        <h3>Available Versions:</h3>
        <div class="p-4 m-3">
          <div class="grid">
            <div class="p-4 m-3">
              <h4 class="mt-0">Local Versions</h4>
              <i class="lds-dual-ring" v-if="loadingImages"></i>
              <div class="row bg-white m-4" v-for="image in availableVersions['local']">
                <div class="cell-5">
                  <div class="ml-3 mt-1" style="display: inline-block; vertical-align: middle">
                    <span class="caption">
                      <b>{{image.tag}}</b>
                      <code :title="image.sha">{{image.sha | shortsha}}</code>
                      <span class="badge inline bg-green fg-white" v-if="image.tag === currentVersion.tag">Current</span>
                      <span
                        v-if="updateIsAvailable(image)"
                        class="badge inline bg-blue fg-white"
                        title="Your image is either newer or older than the one in the remote. Consider updating"
                      >
                      out-of-sync
                      </span>
                      <br>
                      <span class="image-small">{{image.repository}}</span>
                    </span>
                  </div>
                </div>
                <div class="cell-3">
                  <span v-bind:title="Date(image.last_modified)">Created {{image.last_modified | asTimeAgo}}</span>
                </div>
                <div class="cell-4" style="text-align: right;">
                  <div>
                    <!-- TODO implement these
                    <span v-if="image.sha === currentVersion.sha" class="button info disabled">
                      <span class="mif-undo m-1"></span>
                      Discard changes

                    </span>
                    <span v-if="image.sha === currentVersion.sha" class="button primary">
                      <span class="mif-shift m-1"></span>
                      Upgrade

                    </span>
                    -->
                    <span v-if="image.sha !== currentVersion.sha" class="button alert"
                      @click="deleteVersion(`${image.repository}:${image.tag}`)">
                      <span class="mif-bin m-1"></span>
                      Delete

                    </span>
                    <span
                      class="button primary"
                      @click="this.Metro.infobox.open('#infobox'); pullAndSetVersion(`${image.repository}:${image.tag}`)"
                      v-if="image.tag === currentVersion.tag && updateIsAvailable(image)"
                      >
                        <span class="mif-download m-1"></span>
                        Update
                    </span>
                    <span
                      v-if="image.sha !== currentVersion.sha"
                      class="button success"
                      @click="this.Metro.infobox.open('#infobox'); setVersion(`${image.repository}:${image.tag}`)"
                    >
                      <span class="mif-checkmark m-1"></span>
                      Apply

                    </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="grid">
            <div class="p-4 m-3">
              <h4 class="mt-0">Remote Versions</h4>
              <span class="ml-4">
                <form class="ml-4 m-4" v-on:submit.prevent="loadAvailableversions()">
                  <label>Repository</label>
                  <!-- This is the code generated by metro-ui, it is expanded so we can use the vue binds properly -->
                  <div class="input">
                    <input
                      type="text"
                      v-model="selectedImage"
                      required="required"
                      placeholder="The remote repo (usually bluerobotics/blueos-core)"
                      id="repo"
                      class=""
                    >
                      <div class="button-group">
                        <button @click="selectedImage=''" class="button input-clear-button" tabindex="-1" type="button">
                          <span class="default-icon-cross"></span>
                        </button>
                        <button @click="loadAvailableversions" class="button input-search-button" tabindex="-1" type="button">
                          <span class="default-icon-search"></span>
                        </button>
                      </div>
                    </div>
                </form>
              </span>
              <i class="lds-dual-ring" v-if="loadingImages"></i>
              <p v-if="error" class="remark alert">
                {{error}}
              </p>
              <div class="row bg-white m-4" v-for="image in availableVersions['remote']">
                <div class="cell-5">
                  <div class="ml-3 mt-1" style="display: inline-block; vertical-align: middle">
                    <span class="caption">
                      <b>{{image.tag}}</b>
                      <code :title="image.sha">{{image.sha | shortsha}}</code>
                    </span>
                  </div>
                </div>
                <div class="cell-3">
                  <span v-bind:title="Date(image.date)">Last updated {{image.last_modified | asTimeAgo}}</span>
                </div>
                <div class="cell-4" style="text-align: right;">
                  <div>
                    <span
                    class="button primary"
                    @click="this.Metro.infobox.open('#infobox'); pullAndSetVersion(`${image.repository}:${image.tag}`)"
                    v-if="!imageIsAvailableLocally(image.sha)"
                    >
                      <span class="mif-download m-1"></span>
                      Pull and Apply
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h3>Upload:</h3>
        <div>
          <div class="grid" :class="disableUploadControls ? 'disabled' : ''">
            <div class="flex-row">
              <div class="cell-10" style="display: inline-block; vertical-align: middle">
                <input id="file" type="file" accept=".tar" data-role="file" data-prepend="Docker Image file:" data-button-title="Select file">
              </div>
              <span
                class="button success cell-1"
                style="display: inline-block; vertical-align: middle"
                @click="upload()"
              >
                Upload!
              </span>
            </div>
            <div class="row remark primary" v-if="uploadPercentage === 100 && disableUploadControls">
              <h3 style="color:black">Decompressing file, this may take up to 15 minutes.</h3>
            </div>
            <div class="row" v-if="disableUploadControls && uploadPercentage !== 100">
              <div data-role="progress" data-type="load" :data-value="uploadPercentage"></div>
            </div>
          </div>
        </div>
      </div>
      <div id="infobox" class="info-box" data-role="infobox" data-width="700p">
        <span class="button square closer"></span>
        <div class="info-box-content">
          <h3>Applying...</h3>
          <p class="docker-pull-output">{{this.pullOutput}}</p>
        </div>
      </div>
    </div>
  </body>

  <script>
    /* global Metro axios, Vue, timeago */
    new Vue({ // eslint-disable-line no-new
      el: '#app',
      filters: {
        asTimeAgo(value) {
          return timeago().format(new Date(Date.parse(value)), 'twitter')
        },
        shortsha(value) {
          if (value === null) {
            return "Unknown"
          }
          return value.replace('sha256:', '').substring(0, 8)
        },
      },
      data() {
        return {
          pullOutput: '',
          availableVersions: {},
          disableUploadControls: false,
          uploadPercentage: 0,
          currentVersion: '',
          waiting: false,
          loadingImages: false,
          selectedImage: 'bluerobotics/blueos-core',
          Metro: null,
          deleting: null, // image currently being deleted, if any
          error: null,
        }
      },
      mounted() {
        Metro.init()
        this.Metro = Metro
        this.loadCurrentVersion()
      },
      methods: {
        checkIfBackendIsOnline() {
          axios({
            method: 'get',
            url: 'v1.0/version/current',
            timeout: 500,
          })
            .then(() => {
              if (this.waiting) {
                // Allow 3 seconds so the user can read the "complete" message
                // reload(true) forces the browser to fetch the page again
                setTimeout(() => { window.location.reload(true) }, 3000)
              }
            })
            .catch((error) => {
              console.log(error)
              this.waiting = true
              // show infobox while we wait for backend to come back online
              Metro.infobox.open('#infobox')
            })
        },
        loadAvailableversions() {
          // TODO: validate repository, treat error fetching
          this.loadingImages = true
          this.error = null
          axios.get(`v1.0/version/available/${this.selectedImage}`).then((response) => {
            this.availableVersions = response.data
            this.error = response.data.error
          }).catch(() => { this.availableVersions = {} })
            .finally(() => { this.loadingImages = false })
        },
        loadCurrentVersion() {
          return axios.get('v1.0/version/current/').then((response) => {
            const image = response.data
            this.currentVersion = image
            const fullname = `${image.repository}:${image.tag}`
            const [image_first_name] = fullname.split(':')
            this.selectedImage = image_first_name
            this.loadAvailableversions()
          })
        },
        updateIsAvailable(image) {
          const remote_counterpart = this.availableVersions.remote.find((remoteImage) => remoteImage.tag === image.tag)
          if (!remote_counterpart) {
            return false
          }
          return remote_counterpart.sha !== image.sha
        },
        upload() {
          this.disableUploadControls = true
          let file = document.getElementById("file").files[0];
          axios({
            method: 'POST',
            url: 'v1.0/version/load/',
            timeout: 15 * 60 * 1000, // Wait for 15min
            data: file,
            headers: { 'Content-Type': 'undefined' },
            onUploadProgress: (event) => {
              this.uploadPercentage = Math.round(100 * event.loaded / event.total)
            },
          }).finally(() => {
            this.disableUploadControls = false
            setTimeout(() => { this.loadAvailableversions() }, 3000)
          });
        },
        pullAndSetVersion(fullname) {
          // This streams the output of docker pull
          console.log(fullname)
          const [repository, tag] = fullname.split(':')
          console.log(repository)
          console.log(tag)
          const layerStatus = {}
          const layers = []
          const layerProgress = {}
          let overallStatus = ''
          let leftOverData = ''

          axios({
            url: 'v1.0/version/pull/',
            method: 'POST',
            data: {
              repository,
              tag,
            },
            onDownloadProgress: (progressEvent) => {
              // dataChunk contains the data that have been obtained so far (the whole data so far)..
              // The received data is descbribed at
              // https://docker-py.readthedocs.io/en/stable/api.html#docker.api.image.ImageApiMixin.pull
              const dataChunk = progressEvent.currentTarget.response
              // As the data consists of multiple jsons, the following like is a hack to split them
              const dataList = (leftOverData + dataChunk.replaceAll('}{', '}\n\n{')).split('\n\n')
              leftOverData = ''

              for (const line of dataList) {
                try {
                  const data = JSON.parse(line)
                  if ('id' in data) {
                    const { id } = data
                    if (!layers.includes(id)) {
                      layers.push(id)
                    }
                    if ('progress' in data) {
                      layerProgress[id] = data.progress
                    }
                    if ('status' in data) {
                      layerStatus[id] = data.status
                    }
                  } else {
                    overallStatus = data.status
                    // Axios returns the promise too early (before the pull is done)
                    // so we check the overall docker status instead
                    if (overallStatus.includes('Downloaded newer image for')) {
                      setTimeout(() => { this.setVersion(fullname) }, 1000)
                    }
                  }
                } catch (error) {
                  console.log('uname to consume data, saving it for later:')
                  console.log(line)
                  console.log(error)
                  leftOverData = line
                }
              }
              this.pullOutput = ''
              layers.forEach((image) => {
                this.pullOutput = `${this.pullOutput}[${image}] ${layerStatus[image]}  ${layerProgress[image] || ''}\n`
              })
              this.pullOutput = `${this.pullOutput}${overallStatus}\n`
            },
          })
        },
        setVersion(fullname) {
          const [repository, tag] = fullname.split(':')
          axios({
            method: 'post',
            url: 'v1.0/version/current',
            data: {
              repository,
              tag,
            },
          }).finally(() => setInterval(this.checkIfBackendIsOnline, 1000))
        },
        deleteVersion(fullname) {
          if (this.deleting === fullname) {
            return
          }
          const [repository, tag] = fullname.split(':')
          this.deleting = fullname
          axios({
            method: 'delete',
            url: 'v1.0/version/delete',
            data: {
              repository,
              tag,
            },
          }).then(() => {
            // Remove this image in the frontend, as calling loadAvailableversions()
            // takes a longer time to fetch all images
            this.availableVersions.local = this.availableVersions.local.filter(
              (element) => element.repository !== repository || element.tag !== tag,
            )
          })
            .catch((error) => { alert(error.response.data) })
            .finally(() => { this.deleting = null })
        },
        imageIsAvailableLocally(sha) {
          if (!('local' in this.availableVersions)) {
            return false
          }
          return this.availableVersions.local.some((image) => image.sha === sha)
        },
      },
    })
  </script>
</html>
