body {
  background-color: #ECF0F5;
}

.panel .panel-title .btn-custom {
  width: auto;
}

.disabled {
  cursor:not-allowed;
}

#repo {
  width: 50%;
}

.docker-pull-output {
  white-space: pre; font-family:monospace;
}

.image-small {
  font-size: 70%;
}

/* from https://loading.io/css/ */
.lds-dual-ring {
  display: block;
  width: 80px;
  height: 80px;
  margin: auto;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #2799D0 transparent #2799D0 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
