body {
  background-color: #ECF0F5;
}

.panel .panel-title .btn-custom {
  width: auto;
}

.disabled {
  cursor:not-allowed;
}

#repo {
  width: 50%;
}

.docker-pull-output {
  white-space: pre; font-family:monospace;
}

.image-small {
  font-size: 70%;
}
