[Unit]
Description=Start BlueOS on boot
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/bin/docker start blueos-bootstrap

[Install]
WantedBy=multi-user.target