<!DOCTYPE html>
<html lang="en">

<head>
  <title>Cable-guy</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- CSS and JS -->
  <link rel="stylesheet" href="static/css/metro-all.min.css">
  <script src="static/js/axios.min.js"></script>
  <script src="static/js/metro.min.js"></script>
  <script src="static/js/vue.js"></script>

  <style>
    body {
        min-height: 75rem;
        padding-top: 4.5rem;
    }
  </style>
</head>

<body>
  <div id="app" class="container pos-fixed pos-top-center">
    <form id="network-form" data-role="validator" action="javascript:" data-interactive-check="true">
        <table class="table pos-fixed pos-top-center" style="width:90%">
          <thead>
              <tr>
                <th>Device</th>
                <th>Connected</th>
                <th>Disconnects</th>
                <th>Mode</th>
                <th>IP</th>
                <th>Submit</th>
              </tr>
          </thead>
          <tbody>
              <tr v-for="data in devices">
                <td>{{data.name}}</td>
                <td v-bind:class="data.info.connected ? 'success' : 'alert'">
                    {{data.info.connected ? 'Yes' : 'No'}}
                </td>
                <td class="text-center">{{data.info.number_of_disconnections}}</td>
                <td style="width: 11em">
                    <select data-role="select" data-filter="false" v-model="data.configuration.mode"
                      v-on:change="controlInput()">
                      <option v-for="mode in modes()" v-bind:value="mode">
                          {{mode | capitalize}}</option>
                    </select>
                </td>
                <td style="width: 13em">
                    <input type="text" data-role="input" data-default-value="192.168.2.2"
                      data-validate="required pattern=^(?!\.)((^|\.)([1-9]?\d|1\d\d|2(5[0-5]|[0-4]\d))){4}$"
                      v-model="data.configuration.ip" v-bind:disabled="data.configuration.mode !== 'unmanaged'"
                      v-on:input="controlInput()">
                </td>
                <td class="w-20">
                    <button class="button success w-100" v-on:click="apply(data)">Apply</button>
                </td>
              </tr>
          </tbody>
        </table>
    </form>
  </div>

  <script>
  /*global $, Metro, Vue, axios*/
  // Call metro validator manualy
  function runValidator () {
    var inputs = $('#network-form [data-validate]')
    $.each(inputs, function () {
      Metro.validator.validate(this, {
        val: 0,
        log: [],
      })
    })
  }

  window.app = new Vue({
    el: '#app',
    mounted () {
      // Start metro
      Metro.init()

      // Fetch network data
      this.requestData()

      // Fetch periodic API request
      this.startPeriodicRequest()
    },
    updated () {
      // Run validator for each tick
      this.$nextTick(function () {
        console.debug('Next tick.')
        runValidator()
      })
    },
    data () {
      return {
        devices: [],
        userInputChanged: false,
      }
    },
    filters: {
      // This is javascript, there is no capitalize function
      capitalize (value) {
        if (!value) return ''
        value = value.toString()
        return value.charAt(0).toUpperCase() + value.slice(1)
      },
    },
    methods: {
      controlInput () {
        console.debug('User input detected.')
        this.userInputChanged = true
      },
      startPeriodicRequest () {
        setInterval(function () {
          this.requestData()
        }.bind(this), 5000)
      },
      requestData () {
        console.debug('Requesting status..')
        axios
          .get('v1.0/ethernet')
          .then(function (response) {
            console.debug(`userInputChanged ${this.userInputChanged}`)
            // Prevent vue to rewrite user configuration
            // Ignore API input and replace it with user configuration
            if (this.userInputChanged) {
              for (const item of response.data) {
                delete item.configuration
                for (const device of this.devices) {
                  if (device.name == item.name) {
                    item.configuration = device.configuration
                  }
                }
              }
            }
            this.devices = response.data
          }.bind(this))
      },
      // Define possible modes
      modes () {
        return ['client', 'server', 'unmanaged']
      },
      // Send struct to api
      apply (data) {
        delete data.info
        this.userInputChanged = false
        console.debug(`Sending: ${JSON.stringify(data)}`)
        axios
          .post('v1.0/ethernet', data)
          .then(function (response) {
            console.debug(`Done ${JSON.stringify(response, null, ' ')}`)
            setTimeout(
              this.requestData,
              2000,
            )
          }.bind(this))
      },
    },
  })
  </script>
</body>

</html>